<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${PACKAGE_NAME}"
      android:installLocation="auto"
      android:versionCode="${VERSION_CODE}"
      android:versionName="${VERSION_NAME}">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <application android:name="org.yunyue.app"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true">

        <activity android:name="org.yunyue.poem"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="sdktype" android:value="${SDKTYPE}"/>
        <meta-data android:name="create_order_url" android:value="${CREATE_ORDER_URL}"/>
		
		<activity
            android:name="com.bbk.payment.PaymentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/bbk_app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.TicketActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.CardActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.RechargeChoiceActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.PaySuccActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.JCardActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.DetectPayResultActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.PayContinueActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.RechargeFailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- "@style/pop_view" -->
        <activity
            android:name="com.bbk.payment.PaymentActionActivity"
            android:launchMode="singleTask"
            android:theme="@style/pop_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbk.payment.PaymentDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
		<!-- vivo activity begin -->
		  <activity android:name="com.vivo.account.base.activity.LoginActivity"
                  android:label="@string/vivo_app_name"
                  android:theme="@android:style/Theme.NoTitleBar" >
                  <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                      <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
          </activity>
          <activity android:name="com.vivo.account.base.activity.RegisterActivity"
              android:windowSoftInputMode="stateAlwaysHidden"
              android:theme="@android:style/Theme.NoTitleBar" >
                  <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                	  <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
        </activity>
        <activity android:name="com.vivo.account.base.activity.VerifyPhoneNumActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
                   <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                	  <category android:name="android.intent.category.DEFAULT" />
                   </intent-filter>
        </activity>
        <activity android:name="com.vivo.account.base.activity.FindPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
                   <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                	  <category android:name="android.intent.category.DEFAULT" />
                   </intent-filter>
        </activity>
        <activity android:name="com.vivo.account.base.activity.SetPassWordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
                   <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                	  <category android:name="android.intent.category.DEFAULT" />
                   </intent-filter>
        </activity>
        <activity android:name="com.vivo.account.base.activity.RegisterProtocolActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- vivo activity end -->
    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest> 
