<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${PACKAGE_NAME}"
      android:installLocation="auto"
      android:versionCode="${VERSION_CODE}"
      android:versionName="${VERSION_NAME}">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-permission android:name="android.permission.GET_TASKS" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.SEND_SMS" />
<uses-permission android:name="android.permission.RECEIVE_SMS" />
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application android:name="org.weilan.app"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true">

        <activity android:name="org.weilan.poem"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="sdktype" android:value="${SDKTYPE}"/>
        <meta-data android:name="YYPackageName" android:value="${YY_PACKAGE_NAME}"/>
        <meta-data android:name="UMENG_APPKEY" android:value="${UMENG_APPKEY}" />
        <meta-data android:name="UMENG_CHANNEL" android:value="${CHANNEL_ID}"/>

        <activity
            android:name="com.future.playgame.coin.ui.PlayGCActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name="com.unicom.woopenchannelsmspayment.UnicomWoOpenPaymentMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.unicom.woopenchannelsmspayment.UnicomSMSSuccessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unicom.woopenchannelsmspayment.UnicomSMSFaildActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data android:name="CHINA_UNICOM_MOBILE_CHANNEL"
            android:value="23" />
        <meta-data android:name="APP_ID"
            android:value="${APPID}" />
        <meta-data android:name="APP_KEY"
            android:value="${APPKEY}" />
        <meta-data android:name="APP_SECRET"
            android:value="${APPSECRET}" />
        <meta-data android:name="CHANNEL_ID"
            android:value="33" />
        <meta-data
            android:name="PAY_PATTERM"
            android:value="all" />
        <meta-data
            android:name="DIRECT_PAY_PATTERM"
            android:value="false" />
    </application>
    <supports-screens android:largeScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        android:normalScreens="true"/>
</manifest> 
