<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${PACKAGE_NAME}"
    android:installLocation="auto"
    android:versionCode="${VERSION_CODE}"
    android:versionName="${VERSION_NAME}" >

    ${BASE_SDK_VERSION}

    ${BASE_PERMISSION}

    <!-- 3.4.15SDK版本开始需要配置 -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:name="org.weilan.app"
        android:label="@string/app_name" >

        <meta-data android:name="sdktype" android:value="${SDKTYPE}" />

        ${BASE_ACTIVITY}

        <!-- SdkActivity需要配置 -->
        <activity
            android:name="cn.uc.gamesdk.SdkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="cn.uc.gamesdk.sdkweb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- alipay sdk begin -->
        <!-- 3.4.15SDK版本开始需要配置 -->
      	<activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>


        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

    </application>

    <supports-screens android:largeScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        android:normalScreens="true"/>

</manifest>
