<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${PACKAGE_NAME}"
      android:installLocation="auto"
      android:versionCode="${VERSION_CODE}"
      android:versionName="${VERSION_NAME}"
      >

    ${BASE_SDK_VERSION}

    ${BASE_PERMISSION}

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_MOUNTED" />

    <application android:name="org.weilan.app"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true">

        ${BASE_ACTIVITY}

        <meta-data android:name="sdktype" android:value="${SDKTYPE}"/>

        <!-- kaopu star -->
        <activity android:name="com.cyjh.pay.activity.SelectVouchersActivity"></activity>
        <activity android:name="com.cyjh.pay.activity.VouchersSuccessActivity"></activity>
        <activity android:name="com.cyjh.pay.activity.VouchersActivity"></activity>
        <activity android:name="com.cyjh.pay.activity.PayCenterActivity"></activity>
        <activity android:name="com.cyjh.pay.activity.GuideActivity"></activity>
        <activity
            android:name="com.cyjh.pay.activity.PayWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>

        <receiver android:name="com.cyjh.pay.download.DownLoadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- 后台消息数据提醒服务 -->
        <service android:name="com.cyjh.pay.service.PushMsgService" />

        <meta-data
            android:name="KAOPU_APPKEY"
            android:value="${APPKEY}" />
        <meta-data
            android:name="KAOPU_SECRETKEY"
            android:value="${APPSECRET}" />
        <meta-data
            android:name="KAOPU_APPVERSION"
            android:value="${SDKVERSION}" />
        <meta-data
            android:name="KAOPU_APPID"
            android:value="${APPID}" />

    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest>
